{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="contents row">
  {% for tweet in tweets %}
  <div class="content_post" style="{% if tweet.image %}background-image: url('{{ tweet.image.url }}');{% endif %}">
    <div class="more">
        <span><img src="{% static 'images/arrow_top.png' %}"></span>
        <ul class="more_list">
            <li>
                <form action="{% url 'Tweets:detail' tweet.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="detail-btn" value="詳細">
                </form>
            </li>
            {% if tweet.user == request.user %}
            <li>
                <form action="{% url 'Tweets:delete' tweet.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="delete-btn" value="削除">
                </form>
            </li>
            <li>
                <form action="{% url 'Tweets:update' tweet.id %}" method="post">
                  {% csrf_token %}
                  <input type="submit" class="update-btn" value="編集">
                </form>
            </li>
            {% endif %}
        </ul>
    </div>
    <p>{{ tweet.text }}</p>
    <span class="name"><a href="{% url 'users:mypage' tweet.user.pk %}">
        <span>投稿者</span>{{ tweet.user.nickname }}</a>
    </span>
</div>
{% endfor %}
</div>

{% endblock content %}